#contact_modal {
    display: none;
}

.container {
    margin: 0 100px;
}

/* Header */

.photographer__header {
    background-color: #FAFAFA;
    height: 300px;
    /* margin: 0 100px; */
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.photographer__info {
    display: flex;
    flex-direction: column;
}

.info-name {
    color: var(--secondary-color);
    font-size: 45px;
    margin: 0;
}

.info-location {
    color: var(--primary-color);
    font-size: 25px;
    margin: 10px 0 18px 0;
}

.info-tagline {
    font-size: 16px;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.contact_button:hover {
    background-color: var(--secondary-color);
    color: #000;
}

/* Media Cards*/

#media {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 70px;
    margin: 100px 0 75px 0;
}

/* @media screen and (max-width: 768px) {
    #media-section {
        grid-template-columns: repeat(2, 1fr);
    } 
} */

.media-card {
    height: 400px;
}

.media-card a {
    width: 100%;
}

.media-content {
    width: 100%;
    height: calc(100% - 31px);
    object-fit: cover;
    border-radius: 5px;
    cursor: pointer;
}

.media-card figcaption {
    color: var(--primary-color);
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5px;
}

#photographer_pricing {
    width: 350px;
    height: 60px;
    position: fixed;
    bottom: 0;
    right: 50px;
    background-color: #DB8876;
    border-radius: 5px 5px 0 0;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 20px;   
}

/* Modal */

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    /*font-size: 64px;*/
    font-size: 52px;
    font-weight: normal;
    /* text-align: center; */
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    font-size: 20px;
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
    padding: 0 7px;
}

form textarea {
    width: 100%;
    height: 100px;
    border: none;
    border-radius: 5px;
    resize: none;
}

.form-data[data-error]::after {
    content: attr(data-error);
    font-size: 15px;
    color: var(--primary-color);
    display: block;
    text-align: left;
    margin-top: 5px;
    opacity: 0;
    transition: 0.3s;
  }

.form-data[data-error-visible="true"]::after {
    opacity: 1;
}

.form-data[data-error-visible="true"] .form-control {
    border: 2px solid var(--primary-color);
}

.no-scroll {
    overflow: hidden;
}

/* Lightbox */

#lightbox {
    display: none;
}

.lightbox-container {
    justify-content: space-between;
    background-color: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lightbox-card {
    width: 1000px;
    height: 800px;
    border: 1px solid #000;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lightbox-card p {
    color: var(--primary-color);
    font-size: 24px;
}

.lightbox-media {
    width: 70%;
    height: 80%;
    object-fit: cover;
    box-shadow: 5px 5px 5px lightgrey;
}

.close-lb-btn, .prev-btn, .next-btn {
    background: none;
    border: none;
    color: var(--primary-color);
    font-size: 35px;
    position: absolute;
    cursor: pointer;
}

.close-lb-btn {
    right: 5%;
    top: 6%;
}

.prev-btn, .next-btn {
    top: 46%; 
}

.prev-btn {
    left: 5%;
}

.next-btn {
    right: 5%;
}