@import url("photographer.css");

/* Reset */
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

/* Variables */
:root {
    --primary-color: #901C1C;
    --secondary-color: #D3573C;
}

/* Header */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

h1 {
    color: var(--primary-color);
    margin-right: 100px;
}

.logo {
    height: 50px;
    margin-left: 100px;
}

/* Section Photographer*/

.photographer__section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 70px;
    margin: 100px 0 75px 0;
}

@media screen and (max-width: 768px) {
    .photographer__section {
        grid-template-columns: repeat(2, 1fr);
    }
}

.photographer__section article, .photographer__section a {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.photographer__portrait {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
    overflow: hidden;
    overflow-clip-margin: unset;
}

.photographer__section article h2 {
    color: var(--secondary-color);
    font-size: 36px;
    margin-top: 12px;
}

@media screen and (max-width: 1050px) {
    .photographer__section article h2 {
        font-size: 24px;
    }
}

.photographer__location {
    color: var(--primary-color);
    font-size: 18px;
}

.photographer__tagline {
    font-size: 14px;
    margin: 5px 0 7px 0;
}

.photographer__price {
    color: #525252;
    font-size: 12px;
}